<form class="location-form">
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input 
        #locationInput
        matInput
        placeholder="Ex. Los Angeles"
        value=""
        [matAutocomplete]="auto"
        (keyup)="onKeyUp(locationInput.value)">
    </mat-form-field>
  <button mat-stroked-button (click)="getLocationDetails(locationInput.value); locationInput.value = ''">Search</button>
</form>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let location of locations$ | async" [value]="location.title">
    {{location.title}}
  </mat-option>
</mat-autocomplete>