button {
  margin-left: 6px;
  font-weight: 400;
}

.search-form {
  margin-top: 20px;
}

@media (max-width: 426px) {
  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
