img {
  height: 100px;
  width: 100px;
}

.flex-container {
  display: flex;
}

.flex-item {
  padding: 14px;
  text-align: center;
}

.align-text-start {
  text-align: start;
}

#temperature {
  margin-top: 6px;
  font-size: 20px;
}
